<html>
	<head>
		<title>Error</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<h1><%= message %> </h1>
		<h2><%= error.status %> </h2>
	</body>
</html>