<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>University Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="icon" href="myfavicon.ico" type="image/x-icon"/>
    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Welcome</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <% if(isThisLoginPage) {%>
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to our site</h3>
                                    <% if (message.length > 0) {%>
                                        <p><%= message%></p>
                                    <%} else {%>
                                        <p>Enter your username and password to log on:</p>
                                    <%}%>
                                </div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" name="login" action="" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>
			                        <button type="submit" class="btn">Sign in!</button>
			                    </form>
		                    </div>
                            <div class="form-bottom">
                                <p><a href="/signup"><u>Sign up</u></a></p>
                            </div>
                            <% } else {%>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <% if (message.length > 0) {%>
                                        <h3><%= message%></h3>
                                    <%} else {%>
                                        <h3>Please fill the sign up form.</h3>
                                    <%}%>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" name="signup" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="name">Name</label>
                                        <input type="text" name="name" placeholder="name..." class="form-username form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="email">Email</label>
                                        <input type="text" name="email" placeholder="email..." class="form-username form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="username">User Name</label>
                                        <input type="text" name="username" placeholder="user name..." class="form-username form-control" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password">Password</label>
                                        <input type="password" name="password" placeholder="password..." class="form-password form-control" id="password">
                                    </div>
                                    <button type="submit" class="btn">Sign up!</button>
                                </form>
                            </div>
                            <div class="form-bottom">
                                <p><a href="/login"><u>Sign in</u></a></p>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>

</html>