<html>
    <head>
        <title>
            University
        </title>
    </head>
    <body>
        <div>
            <h1>Welocme to main page</h1>
        </div>
    <script tyepe="text/javascript" src=""></script>
    </body>
</html>