<html>
    <head>
        <title>
            Passport
        </title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="Node,Passport,Authentication,OAuth">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    </head>
    <body>
        <header></header>
        <div>
            <h1>Welocme to main page</h1>
        </div>
    <script tyepe="text/javascript" src=""></script>
    </body>
</html>