<div class="notes-main-container">
	<div class="sticky  ui-widget-content" id="demo" >
	    <p contentEditable = "true" ondblclick="$(this).focus();"></p>
	    
	</div>

</div>
<script>
$(function() {
            $( "#demo" ).draggable().resizable();
        });
</script>